.defaultBtn {
   display: flex;
   justify-content: center;
   align-items: center;
   outline: none;
}

.buttonWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   border-radius: 4px;
   font-size: 14px;
   letter-spacing: .2px;
   transition: .3s;
   padding: 0 25px;

   &:hover {
      cursor: pointer;
      transform: translateY(-3px);
   }
}

