.worksBlock {
	height: auto;
	padding: 100px 0;
	background-color: var(--second-bg-color);
}

.worksContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.works {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

@media screen and (max-width: 1005px) {
	.works {
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.works > div:last-child {
		margin-bottom: 0;
	}
}
