.worksBlock {
    height: auto;
    background: rgb(98, 31, 153);
    padding: 75px 0;
}

.worksContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: forestgreen;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

