.headerArea {
   display: flex;
   height: 80px;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
}

.headerWrapper {
   padding: 30px 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.headerLeft {
   display: flex;
   align-items: center;
}

.headerRight {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: flex-end;
   width: auto;
}

.socialShareInner {
   display: flex;
   width: auto;
}

.socialShare {
   display: flex;
   list-style: none;
   justify-content: center;
}

.socialShare li {
   padding-left: 10px;
   margin: 6px 5px;
}

.socialShare li a {
   display: flex;
   align-items: center;
   opacity: .8;
   transition: .3s;
   justify-content: center;
   width: 35px;
   height: 35px;
   color: rgba(198, 201, 216, .75);
   border-radius: 100%;
}

.socialShare li a:hover {
   border: 3px solid rgba(198, 201, 216, .75);
   border-radius: 50%;
   box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
   transform: translateY(-3px);
}

.socialShare img {
   width: 16px;
}

.headerBtnWrapper {
   margin-left: 50px;
}

.headerBtn {
   color: white;
   border: 3px solid rgba(255, 255, 255, .3);
   padding: 0 25px;
   height: 46px;
   display: inline-block;
   border-radius: 6px;
   font-size: 14px;
   position: relative;
   z-index: 2;
   letter-spacing: 1px;
   font-weight: 500;
   transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.headerBtn:hover {
   background-color: #f9004d;
   border: 3px solid #f9004d;
   transform: translateY(-3px);
}

.links {
   display: flex;
   justify-content: center;
   align-items: center;
}

/*hamburegr*/
.hamburgerMenu {
   padding-left: 20px;
   display: none;
   justify-content: flex-end;
   width: auto;
}

.menuTrigger {
   cursor: pointer;
}

.menuTrigger img {
   width: 30px;
   position: static;
}

@media (max-width: 1199px) {
   .headerBtnWrapper {
      margin-left: 10px;
   }
}


@media (max-width: 991px) {
   .headerLeft {
      display: none;
   }

   .headerRight {

   }

   .headerWrapper {
      justify-content: flex-end;
      padding: 15px 0;
   }
   .hamburgerMenu {
      display:block;
   }
}

@media (max-width: 767px) {
   .headerWrapper {
      justify-content: flex-end;
   }

   .headerBtnWrapper {
      display: none;
   }

   .socialShare li {
      padding-left: 2px;
      margin: 2px 1px;
   }

}


