.headerArea {
   display: flex;
   height: 80px;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   z-index: 5;
}

.headerWrapper {
   padding: 30px 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.headerLeft {
   display: flex;
   align-items: center;
}

.headerRight {
   display: none;
   align-items: center;
   flex-wrap: wrap;
}

.hamburgerMenu {
   padding-left: 20px;
   display: flex;
   justify-content: flex-end;
   width: auto;
}

.menuTrigger {
   cursor: pointer;
}

.menuTrigger img {
   width: 30px;
}

@media (max-width: 899px) {
   .headerLeft {
      display: none;
   }

   .headerRight {
      display: block;
   }

   .headerWrapper {
      justify-content: flex-end;
   }
}

@media (max-width: 767px) {
   .headerWrapper {
      justify-content: flex-end;
   }
}


