.headerArea {
	display: flex;
	align-items: center;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.headerWrapper {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.headerLeft {
	display: flex;
	align-items: center
}
