.mainMenuNav {
   background: #101010;
   width: 50vw;
   height: 100vh;
   position: fixed;
   top: -18px;
   z-index: 99;
   -webkit-transition: all .3s cubic-bezier(.77, .2, .05, 1);
   -o-transition: all .3s cubic-bezier(.77, .2, .05, 1);
   transition: all .3s cubic-bezier(.77, .2, .05, 1);
   display: block;
   overflow-y: auto;
   padding: 100px 30px;
   justify-content: flex-end;
   flex-wrap: wrap;

   .closeMenu {
      background: #000;
      opacity: 1;
      position: absolute;
      top: 5%;
      visibility: hidden;
      right: 15%;
      transition: .3s;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 46px;
      display: block;

      .closeTrigger {
         font-size: 30px;
         cursor: pointer;
         display: block;
         height: 50px;
         width: 50px;

         img {
            height: 50px;
            width: 50px;
         }
      }
   }

   .menuItem {
      margin: 0;
      padding: 0;
      position: relative;
      font-size: 16px;
      line-height: 28px;

      a {
         color: rgba(198, 201, 216, .75);
         background: 0 0;
         display: block;
         padding: 10px 0;
         position: relative;
         font-size: 16px;
         font-weight: 500;

         &:before {
            width: 0;
            position: absolute;
            content: "";
            left: 0;
            height: 3px;
            background: var(--navbar-menu-item-hover-color);
            transition: .3s;
            bottom: 0;
         }

         &:hover:before {
            width: 100%;
         }
      }
   }
}
