.contactBlock {
	height: auto;
	padding: 75px 0;

	background: rgb(114, 117, 117);
}

.contactContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	justify-content: center;
}

.title {
	background-color: #e72020;
}

.contactForm {
	width: 42%;
	margin-bottom: 40px;
}

.contactForm input {
	width: 100%;
	height: 35px;
}

textarea {
	width: 100%;
	height: 150px;

	resize: none;
}

@media screen and (max-width: 900px) {
	.contactForm {
		width: 240px;

		text-align: center;
	}
}
