.skillsBlock {
	height: auto;
	padding: 100px 0;
	background-color: var(--first-bg-color);
}

.skillsContainer {
	display: flex;
	flex-direction: column;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-start;
}