.skillsBlock {
	height: auto;
	padding: 100px 0;
	background-color: var(--first-bg-color);
}

.skillsContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 100%;
}

@media screen and (max-width: 934px) {
	.skills {
		justify-content: space-around;
	}
	.skills > div:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 700px) {
	.skills {
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.skills > div:last-child {
		margin-bottom: 0;
	}
}
