.mainBlock {
	display: flex;
	align-items: center;
	min-height: 100vh;
}

.greeting {
	min-width: 200px;
	width: 100%;
	max-width: 70%;

}

.profession {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: block;
	margin-bottom: 20px;
	color: rgba(198,201,216,.75);
}

.greeting h1 {
	font-size: 75px;
	font-weight: 900;
	line-height: 90px;
	color: #fff;
	margin: 0;
	margin-bottom: 15px;
}

.greeting .name {
	color: #f9004d;
	display: inline-block;
}

@media screen and (max-width: 760px) {
	.greeting {
		text-align: center;
	}
}
