.mainBlock {
	height: auto;
	padding: 50px 0;

	background: rgb(114, 117, 117);
}

.greeting {
	width: 300px;

	background-color: #c3c3c3;
}

.photo {
	width: 300px;
	height: 400px;

	background-color: #e72020;
}

@media screen and (max-width: 760px) {
	.greeting {
		text-align: center;
	}

	.photo {
		margin: 10px 0;
	}
}
