@import '../../../u0-common/u0.3-styles/mixins';

.workItem {
   @include display(flex,$f-der:column);
   max-width: 33.333333%;
   margin-top: 30px;
   width: 100%;
   height: min-content;
   padding: 0 15px;

   .workBlock {
      @include display(flex,$align-items:flex-start,$f-der:column);
      border-radius: 10px;
      background-color: var(--work-card-background-color);

      .projectImg {
         @include display(flex,center,center);
         background-size: cover;
         background-position: center;
         width: 100%;
         height: 270px;

         .projectBtn {
            color: #fff;
            background: #101010;
            border: 3px solid #ffffff;
            box-shadow: 0 10px 15px 0 rgba(249, 0, 77, .1);
            opacity: 0.8;

            &:hover {
               border: 3px solid #f9004d;
               background: #f9004d;
            }
         }
      }

      .description {
         @include display(flex,flex-start,$f-der:column);
         padding: 60px 45px 60px 45px;

         h3, p {
            margin: 0;
         }

         h3 {
            margin-bottom: 19px;
         }
      }
   }

   @media screen and (min-width: 700px) and (max-width: 1240px) {
      max-width: 49.333333%;
   }
   @media screen and (max-width: 790px) {
      max-width: 100%;
   }
}

