@mixin flex($display,$justify-content,$align-items:none) {
   display: $display;
   justify-content: $justify-content;
   align-items: $align-items;
}

@mixin position($position,$top,$right,$left) {
   position: $position;
   top: $top;
   right: $right;
   left: $left;
}

@mixin padding($pad...) {
   padding: $pad;
}