.footerBlock {
	height: auto;
	padding: 75px 0;

	background: rgb(74, 76, 76);
}

.footerContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	justify-content: center;
}

.title {
	background-color: #e72020;
}

.socialLinksBlock {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 40%;
}

.socialLink {
	flex-wrap: wrap;

	width: 50px;
	height: 50px;

	background-color: honeydew;
}

.footerBlock h2 {
	text-align: center;
}

@media screen and (max-width: 680px) {
	.socialLinksBlock {
		justify-content: space-around;
	}

	.socialLinksBlock .socialLink {
		margin: 5px;
	}
}

@media screen and (max-width: 380px) {
	.socialLinksBlock {
	}

	.socialLinksBlock .socialLink {
		width: 110px;
		height: 110px;
	}
}
