.footerWrapper {
	display: flex;
	height: auto;
	padding: 20px 0px;
	background-color: var(--first-bg-color);
}

.footerContainer {
	display: flex;
	flex-direction: column;
}

.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.innerText {
	text-align: center;
}

.socialShare {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

.socialShare li {
	margin: 6px 5px;
}

.socialShare li a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	font-size: 16px;
	border: 3px solid rgba(198,201,216,.75);
	color: rgba(198,201,216,.75);
	border-radius: 100%;
	text-decoration: none;
	background-color: transparent;
	transition: .3s;
}

.socialShare li a:hover {
	background: var(--footer-share-hover-bg-color);
	border-color: var(--footer-share-hover-bg-color);
	box-shadow: 0 10px 15px 0 rgba(0,0,0,.1);
	transform: translateY(-3px);
}

.socialLinksBlock {
	display: flex;
	max-width: 30%;
}


.wrapper img {
	width: 16px;
}

.rights {
	display: flex;
	max-width: 30%;
	padding-right: 15px;
	padding-left: 15px;
}

.wrapper p {
	text-align: center;
	padding: 10px;
}

@media (max-width: 400px) {
	.wrapper p {
		font-size: 16px;
		display: flex;
		flex-wrap: wrap;
	}
	.footerWrapper {
		margin: 0;
	}
}







