.offerBlock {
	height: auto;
	padding: 100px 0;
	background-color: var(--first-bg-color);
}

.offerContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.offerBtn {
	border: 3px solid rgba(255, 255, 255, .3);
}

.offerBtn:hover {
	background-color: #f9004d;
	border: 3px solid #f9004d;
}


