.offerBlock {
	height: auto;
	padding: 75px 0;

	background: rgb(74, 76, 76);
}

.offerContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.title {
	text-align: center;

	background-color: #e72020;
}
