.offerBlock {
    height: auto;
    background: rgb(160, 170, 11);
    padding: 75px 0;
}

.offerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: forestgreen;
}

.hireButton {
    width: 110px;
    height: 40px;
}