@import '../../u0.3-styles/mixins.scss';

.defaultStyle {
   @include text(60px, 700);
   color: #fff;
   word-break: break-word;
   box-sizing: border-box;
   text-align: center;
   margin-bottom: 20px;

   p {
      text-align: center;
      padding: 0 10%;
      margin: 0 0 40px;
   }

   h1 {
      @include text(60px, 700);
      color: #fff;
      margin: 0;
      padding-top: 0;
   }
}
